#define IDM_NEWGAME 10002
#define IDM_BREAK 10003
#define IDM_FILE_EXIT 10001
#define IDM_HELP_ABOUT 10101
#define ID_GAMESPEED_FAST 333
#define ID_GAMESPEED_MIDDLE 444
#define ID_GAMESPEED_SLOW   555
#define ID_MAP_SMALL 70
#define ID_MAP_MIDDLE 71
#define ID_MAP_BIG   72
#define ID_NUM1 11
#define ID_NUM2 12
#define ID_NUM3 13

MYMENU MENU
BEGIN
	MENUITEM "开始游戏", IDM_NEWGAME
	
	POPUP "设置难度"
		BEGIN
			POPUP "&速度"
			BEGIN
				MENUITEM "慢", ID_GAMESPEED_SLOW
				MENUITEM "中", ID_GAMESPEED_MIDDLE
				MENUITEM "快", ID_GAMESPEED_FAST
			END
			POPUP "&障碍物"
			BEGIN
				MENUITEM "少", ID_NUM1
				MENUITEM "中", ID_NUM2
				MENUITEM "多", ID_NUM3
			END
			POPUP "&窗口大小"
			BEGIN
				MENUITEM "小", ID_MAP_SMALL
				MENUITEM "中", ID_MAP_MIDDLE
				MENUITEM "大", ID_MAP_BIG
			END
		END
	MENUITEM "退出游戏", IDM_FILE_EXIT

END

